@page "/admin-dashboard"
@inject HttpClient Http

<h3>Upload Product</h3>
<div class="topbar">
<div class="upload-box">
    <h1>Upload Product </h1>
    <InputFile OnChange="OnInputFileChange" />

    
    <input placeholder="Product Name" @bind="productName" />
    <input placeholder="Description" @bind="description" />
    <input placeholder="Price" type="number" @bind="price" />
    
    
</div>
    <button @onclick="UploadFile">Upload</button>
</div>

@code {
    private IBrowserFile? file;
    private string productName = "";
    private string description = "";
    private decimal price;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task UploadFile()
    {
        if (file == null)
            return;

        using var content = new MultipartFormDataContent();
        var streamContent = new StreamContent(file.OpenReadStream(1024 * 1024 * 15));
        content.Add(streamContent, "File", file.Name);
        content.Add(new StringContent(productName), "ProductName");
        content.Add(new StringContent(description), "Description");
        content.Add(new StringContent(price.ToString()), "Price");



        var response = await Http.PostAsync("https://localhost:7008/api/ProductImage/upload", content);

        
        var result = await response.Content.ReadAsStringAsync();
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Upload successful: " + result);
        }
        else
        {
            Console.WriteLine("Upload failed: " + result);
        }


        Console.WriteLine(result);
    }
}