html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0a0a0a;
}
.logo-containerr {
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 1000;
    display: flex; /* ?? puts logo and text side by side */
    align-items: center; /* ?? vertically align text with logo */
    gap: 12px; /* ?? small space between logo and text */
}

    .logo-containerr h3 {
        margin: 0; /* remove any default gap */
        color: white; /* optional: if your topbar is dark */
    }

.logoo {
    height: 70px; /* adjust size */
    width: auto; /* keep aspect ratio */
    mix-blend-mode: multiply;
}
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.photo-container {
    text-align: center;
    margin-top: 50px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

<link
rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-o9N1j7kHVs/N+y5bVve38XG4b5bQpNpr+Whv1g1X+60="
crossorigin=""
/ >
<script
src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-o9N1j7kHVs/N+y5bVve38XG4b5bQpNpr+Whv1g1X+60="
crossorigin="" > </script >

.photo {
    width: 300px; /* Adjust size */
    height: auto;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* Shadow effect */
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body, html {
    height: 1%;
    margin: 20PX;
    font-family: Arial, sans-serif;
    background-image: url('/images/SHOPSS.jfif'); /* full-page image */
    background-size: cover; /* fill page */
    background-position: center; /* center the image */
    background-repeat: no-repeat; /* no repeat */
    background-attachment: fixed; /* stays when scrolling */
}

/*.logo-container {
    position: absolute;
    top: 300px;
    left: 200px;
}

.logo {
    width: 200px;*/ /* adjust */
/*}*/

.login-box {
    width: 350px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    /* Background image */
    background-image: url('/images/DDDD.jfif'); /* change path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* text color */
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}
.login-boxx {
    width: 1650px;
    padding: 40px 30px;
    border-radius: 10px;
    margin-top: 10px; /* Adds space above the search bar */
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center; /* Background image */
    background-image: url('/images/DDDD.jfif'); /* change path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* text color */
}
/*start CSS 9/10/2025*/
.JJDD {
    background: #000;
    display: inline-block;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 500;
    color: #fff; /* text color */
    text-decoration: none;
    border-radius: 4px; /* rounded corners */
    transition: background 0.3s ease, color 0.3s ease;
}

.JJDDD {
    background: #fff;
    display: inline-block;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 500;
    color: #fff; /* text color */
    text-decoration: none;
    border-radius: 4px; /* rounded corners */
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-btn:hover {
    background: #abaa90; /* light grey on hover */
    color: #fff; /* dark text on hover */
}

.topbar {
    text-align: center;
    margin-bottom: 15px;
}

    .topbar input {
        width: 60%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

.navbar {
    display: flex; /* puts items in a row */
    justify-content: center; /* center them */
    gap: 15px; /* spacing between buttons */
    flex-wrap: wrap; /* if too many, they go to next row */
}
.JJDD {
    padding: 10px 18px;
    text-decoration: none;
    background: #000000;
    color: white;
    border-radius: 6px;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 14px;
    font-weight: 500;
}

    .JJDD:hover {
        background: #4d4b4b; /* lighter black hover */
        transform: scale(1.05); /* slight zoom effect */
    }

input[type="text"],
input[type="password"] {
    width: 250px; /* same width for both inputs */
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.logo {
    mix-blend-mode: multiply;
    removes white background effect
}


/* Button styling */
.myButton {
    width: 100%;
    padding: 10px;
    background-color: rgba(39, 174, 96, 0.8); /* semi-transparent button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

    .myButton:hover {
        background-color: rgba(46, 204, 113, 0.9);
    }

/* Link styling */
.login-box a {
    color: #0a0a0a;
    text-decoration: underline;
}


.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    width: 250px;
    outline: none;
}

.myButton {
    background-color: #0a0a0a; /* Green */
    border: revert-layer; /* Remove border */
    color: white; /* Text color */
    padding: 12px 24px; /* Space inside */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px; /* Rounded corners */
    cursor: s-resize; /* Pointer on hover */
    transition: 0.3s; /* Smooth hover effect */
}

.box {
    background-color: #0a0a0a;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 400px; /* fixed width */
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column; /* stack items vertically */
    justify-content: center; /* vertical center */
    align-items: center; /* horizontal center */
    height: 100%; /* full height of viewport */
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/*input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
}*/

button {
    padding: 8px 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #0a0a0a;
    font-weight: bold;
}

    nav a:hover {
        color: #0a0a0a;
    }

.myButton:hover {
    background-color: #0a0a0a; /* Darker green on hover */
}

.search-button {
    padding: 8px 12px;
    background-color: #0a0a0a;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: #0a0a0a;
    background-color: #0a0a0a;
    border-color: #0a0a0a;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #0a0a0a;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #0a0a0a;
}
